<div class="container">
  <div class="row">
    <div class="col-md-6">
      <input type="search" [(ngModel)]="searchTitle">
      <p></p>
      <div class="margin-top-10" *ngFor="let test of (this.tests | filter:searchTitle) as Test">
        <p>Название: {{test.title}}       
          <button mat-mini-fab color="primary" (click)="getTestDetailInfo(this.test)">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="editTest(this.test)">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <p>Создатель: {{test.creator.nickname}}</p>
        <p>ID теста: {{ test.id }}</p>
        <a class="nav-link"><button mat-raised-button color="primary" (click)="startTest(test, user)">Пройти тест</button></a>
        <p></p>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
</div>
