<mat-divider class="question-divider"></mat-divider>

<p>Введите текст вопроса</p>
<mat-form-field>
    <input matInput type="text" placeholder="Текст вопроса" [(ngModel)]="this.question.questionText">
</mat-form-field>

<p>Укажите максимальное количество баллов за данный вопрос</p>
<mat-slider
    [max]="100"
    [min]="1"
    [step]="1"
    [(value)]="this.question.scoreWeight"
    class="example-margin"
    color="primary">
</mat-slider>
<span>{{ this.question.scoreWeight }}</span>

<p>Выберите количество ответов</p>
<mat-slider
    [max]="maxValue"
    [min]="minValue"
    [step]="1"
    [(value)]="countOfAnswers"
    (change)="onChange()"
    class="example-margin"
    color="primary">
</mat-slider>
<span>{{ this.countOfAnswers }}</span>

<div *ngFor="let answer of this.question.possibleAnswers">
    <app-answer-creating [answer]="answer"></app-answer-creating>
    <mat-divider class="answer-divider"></mat-divider>
</div>
