<p>Название теста: {{ this.test.title }}</p>
<p>Создатель: {{ this.test.creator.nickname }}</p>
<p>Время: {{ this.getTime() }}</p>

<ul>
    <li *ngFor="let questionBlank of this.questionBlanks">
        Вопрос: {{questionBlank.questionText}},
        <ul>
            <div *ngFor="let userAnswer of questionBlank.userAnswers">
                <input type="checkbox" [(ngModel)]="userAnswer.correct" (ngModelChange)="onChange()"/>
                {{ userAnswer.answerText }}
            </div>
        </ul>
    </li>
</ul>

<button (click)="checkTest()" [disabled]="this.getTime() == 0">Отправить на проверку</button>
<div *ngIf="this.result">
    ID результата: {{ this.result.id }}<br>
    Результат: {{ this.result.score }}
</div>