<p>Название теста: {{ this.test.title }}</p>
<p>Создатель: {{ this.test.creator.nickname }}</p>
<p><strong>Время:</strong> {{ this.getTime() }}</p>


<div *ngFor="let questionBlank of this.questionBlanks">
    <strong>Вопрос:</strong> {{questionBlank.questionText}},
    <ul>
        <div *ngFor="let userAnswer of questionBlank.userAnswers">
            <input type="checkbox" [(ngModel)]="userAnswer.correct"/>
            {{ userAnswer.answerText }}
        </div>
    </ul>
</div>


<button mat-raised-button color="primary" (click)="checkTest()" [disabled]="this.getTime() == 0">Отправить на проверку</button>
<div *ngIf="this.result">
    ID результата: {{ this.result.id }}<br>
    Результат: {{ this.result.score }}
</div>